on init

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind

    # bind mount libmtk-ril.so
    mount none /system/lib64/libmtk-ril.so /vendor/lib64/libmtk-ril.so bind
   
    # Force disable ViLTE support
    setprop persist.vendor.vilte_support 0

service charger /charger
    class charger
    group system shell input graphics
    seclabel u:r:charger:s0

on charger
    start kpoc_charger

service kpoc_charger /system/bin/kpoc_charger
    class charger


on post-fs
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
	mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind

on boot

    # Touchscreen/DT2W
    chown system system /proc/touchpanel/double_tap_enable
    chown 0660 /proc/touchpanel/double_tap_enable
    write /proc/touchpanel/double_tap_enable 1

    # Disable edge limit control interface
    write /proc/touchpanel/oppo_tp_limit_enable 0

    # Enable oppo touchpanel direction
    write /proc/touchpanel/oppo_tp_direction 1

    # Update touchscreen firmware
    write /proc/touchpanel/tp_fw_update 1
    
    # OTG
    write /sys/devices/platform/odm/odm:oppo_charger/power_supply/usb/otg_switch 1

    # FPS Info
    chown system graphics /sys/module/primary_display/parameters/display_framerate_main
    chmod 0666 /sys/module/primary_display/parameters/display_framerate_main
    
    # Keystore
    mount none /dev/null vendor/lib64/hw/keystore.mt6771.so bind
    mount none /dev/null vendor/lib64/hw/keystore.oppo6771_17065.so bind

service set_zram /vendor/bin/sh /system/etc/init/set_zram.sh
    class late_start
    disabled
    user root
    group system
    oneshot

on property:sys.boot_completed=1
    start set_zram
    
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly.

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"
